.activate-linux {
  color: rgba(250, 250, 250, 0.5);

  &.background {
    background: none;
  }
}
.power {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(50, 50, 50, 0.99);
}
.calc {
  padding: 3px;
  border-radius: 4px;
  background: #222222;
  background: linear-gradient(90deg,rgba(50,50,50,0.99) 0%,rgba(45, 14, 180, 0.99) 100%);

  
}